

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center; 
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}

.gallery-item {
  position: relative;
  width: 100%; 
  max-width: 300px; 
  cursor: pointer;
  overflow: hidden;
  flex: 1 1 calc(25% - 20px); 
  box-sizing: border-box; 
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border: none; 
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover .gallery-content {
  opacity: 1; 
  transform: translateY(0); 
}

.gallery-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(227, 220, 210, 0.7); 
  color: #100C0D;
  padding: 10px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0; 
  transform: translateY(100%); 
}

.gallery-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #100C0D;
}

.gallery-description {
  font-size: 14px;
  margin-bottom: 5px;
}

.gallery-link {
  font-size: 14px;
  color: #100C0D ;
  text-decoration: none;
  display: block;
  margin-top: 5px;
}



.gallery-header {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.gallery-header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 gap: 20px;
 
}

.gallery-header h1::after {
  content: '';
  
  width: 80%;
  height: 2px;
  background-color: #100C0D; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stiluri responsive */
@media (min-width: 1024px) { 
  .gallery {
    flex-direction: row;
    justify-content: center;
  }
  .imageGallery {
    flex-direction: row;
  }
  .gallery-item {
    flex: 1 1 calc(25% - 20px); 
  }
}

@media (max-width: 1024px) and (min-width: 768px) { 
  .gallery {
    flex-direction: row;
    justify-content: center;
  }
  .imageGallery {
    flex-direction: row;
  }
  .gallery-item {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 768px) { 
  .gallery {
    flex-direction: column;
    align-items: center;
  }
  .imageGallery {
    flex-direction: column;
  }
  .gallery-item {
    flex: 1 1 100%; 
  }
}
